/* 
Name: Carlo Catlett
Date: 02/11/2023
File: style.css
*/

/*CSS Reset*/
header, body, main, footer, nav, h1, h3, img, div{
  margin: 0;
  padding: 0;
}

body{
    background-color: #ccc
}

nav{
    width: 70%;
    float: left;
    margin: 5em 3em 0 0;
}

nav ul{
    list-style-type: name;
    margin: 0;
    text-align: left;
}


nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}


nav li a{
    display: block;
    color: #6495ED;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    text-weight: bold;
}

main{
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25;
}

#info{
  width: 70%;
  float: left;
  margin: 5em 3em 0 0; 
  font-size: 1.5em;
}

#info ul{
    list-style-type: name;
    margin: 0;
    text-align: center;
}

#info li{
  display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

#info li a{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: ##6495ED;
}

#list{
  width: 70%;
  float: left;
  margin: 5em 3em 0 0;
}

#list ul{
    list-style-type: name;
    margin: 0;
    text-align: center;
}

#list li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

footer a{
    color: #6495ED;
    font-size: 0.75em;
    text-align: center;
}

img{
 display: block;
 max-width: 100%;
}
