/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font and background color */
body {
  font-family: "Vibur", sans-serif;;
  background-color: #323030;
  color: #FFFFFF;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}

#wrap{
  padding-bottom: 2.5rem;
}

/* Style the header and navigation bar */
header {
  background-color: #212121;
  padding: 20px;
  font-family: 'Tilt Neon', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Tilt Neon', cursive;
}

nav a:hover {
  color: #ff0000;
}

/* Style the main section */
main {
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: 'Tilt Neon', cursive;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  font-size: 24px;
}

li::before {
  content: "▹";
  margin-right: 10px;
  color: #ff0000;
}

#map {
width: 50%;
height: 50%;
}

/* Style the footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%; 
}
footer {
  background-color: #1A1A1A;
  padding: 25px;
  text-align: center;
}

footer p {
  font-size: 16px;
  color: #FFFFFF;
  
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

footer a:hover {
  color: #ff0000;
}
.glitch:hover {
  position: relative;
  animation: glitch-anim 9s infinite;
  animation-fill-mode: backwards;
}
/*viewport for mobile*/

/*Media Query for Tablet Viewrport*/
@media print, screen and (min-width: 620px ) {
/*Tablet Viewport: Show tab-desk class, hide mobile class*/
.tab-desk{
  display: block;
}
.mobile{
  display: none;
}
  
/*viewport for desktop*/
@media screen, print and (min-width: 1000px){
nav li{
  font-size: 1.5em;
}
nav li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/*viewport for large desktop*/
@media screen and (min-width: 1921px)
{}
@keyframes glitch-anim {
  0% {
    transform: translate(0, 0);
    text-shadow: 0 0 2px #ff0000, 0 0 2px #ff0000;
  }
  25% {
    transform: translate(5px, -5px);
    text-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000;
  }
  50% {
    transform: translate(-5px, 5px);
    text-shadow: 0 0 2px #ff0000, 0 0 2px #ff0000;
  }
  75% {
    transform: translate(5px, 5px);
    text-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000;
  }
  100% {
    transform: translate(-5px, -5px);
    text-shadow: 0 0 2px #ff0000, 0 0 2px #ff0000;
  }
}
.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #ff0000,
      0 0 82px #ff0000,
      0 0 2px #ff0000,
      0 0 7px #ff0000,
      0 0 120px #ff0000;
  animation: flicker 5s infinite alternate;
}
.neonText2:hover{
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #ff0000,
      0 0 82px #ff0000,
      0 0 2px #ff0000,
      0 0 7px #ff0000,
      0 0 120px #ff0000;
      animation: flicker .6s infinite alternate;
      animation-fill-mode: forwards;

}
.neonText3 {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #058e09,
      0 0 21px #058e09,
      0 0 2px #058e09,
      0 0 71px #058e09,
      0 0 120px #058e09;
}
.neonText4 {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #ff0000,
      0 0 82px #ff0000,
      0 0 2px #ff0000,
      0 0 7px #ff0000,
      0 0 120px #ff0000;
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ff0000,
    0 0 82px #ff0000,
    0 0 2px #ff0000,
    0 0 7px #ff0000,
    0 0 120px #ff0000;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.logo {
  border: solid 5px;
  border-radius: 50%;
  color: #fff;
  box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 32px #e4e12f,
      0 0 42px #e4e12f,
      0 0 2px #e4e12f,
      0 0 7px #e4e12f,
      0 0 8px #e4e12f;
}


